body,td,form,input,option,select,textarea,p,ol{font-family:Arial;font-size:9pt;Color:#535353;line-height:1.6;};

.a1:link {color:#2C2C2C; TEXT-DECORATION: none; line-height:1.6; font-weight:bold};
.al:visited {color:#2C2C2C; TEXT-DECORATION: none; line-height:1.6 ;font-weight:bold};
;

.title{font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold};

.table1{background-color: #DFEFFF; border-color: #ffffff; border:1px};
.table3{background-color: #FFF7D2; border-color: #8FB858; border:1px};
.table4{background-color: #E4FAE9; border-color: #ffffff; border:1px};
.table5{background-color: #F4CCF3; border-color: #ffffff; border:1px};

.TdColor1{Background-color:#0063C6;font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold};
.TdColor3{Background-color:#FFB324;font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold};
.TdColor4{Background-color:#51C92E;font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold};
.TdColor5{Background-color:#FFB324;font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold};
.TdColor6{Background-color:#E01FDB;font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold};

.formtitle{font-family:"Arial";font-size:9pt;Color:#FF0000};
.modify {  font-size: 9pt; background-color: #FAFE4B}
.step { font-size: 11pt;Color:#535353;font-weight:normal};
.formtitle2 {
	font-size:12px;
	Color:#5E7838;
	letter-spacing: 1px;
	text-decoration: none;
}
.step2 {
	font-size: 15px;
	Color:#535353;
	font-weight:normal;
	line-height: 22px;
	letter-spacing: 1px;
	text-decoration: none;
}
.step2_1 {
	font-size: 15px;
	Color:red;
	font-weight:normal;
	line-height: 22px;
	letter-spacing: 1px;
	text-decoration: none;
}
.formtitle3 {
	font-size:13px;
	Color:#5E7838;
}
.formtitle4 {
	font-size:15px;
	Color:#295800;
	font-weight: bold;
	line-height: 18px;
	letter-spacing: 2px;
}
.step3 {
	font-size: 15px;
	Color:#2F66B8;
	font-weight:normal;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
	text-decoration: none;
}
.step4 {
	font-size: 15px;
	Color:#FF6600;
	font-weight:normal;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
	text-decoration: none;
}
.step5 {
	font-size: 15px;
	Color:#62862B;
	font-weight:normal;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
	text-decoration: none;
}
.step6 {
	font-size: 15px;
	Color:#9933CC;
	font-weight:normal;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
	text-decoration: none;
}
.step7 {
	font-size: 15px;
	Color:#336600;
	font-weight:normal;
	line-height: 22px;
	letter-spacing: 1px;
}

.step8 {
	font-size: 15px;
	Color:#3366FF;
	font-weight:normal;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
}

.step9 {
	font-size: 15px;
	Color:#336600;
	font-weight:bold;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
}

.step10 {
	font-size: 15px;
	Color:#FF0000;
	font-weight:bold;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
}

.step11 {
	font-size: 13px;
	Color:#72994F;
	font-weight:bold;
	vertical-align: bottom;
	letter-spacing: 1px;
}
.step2_m {
	font-size: 15px;
	Color:#535353;
	font-weight:normal;
	line-height: 22px;
	letter-spacing: 1px;
	text-decoration: none;
}
.step2_s {
	font-size: 13px;
	Color:#535353;
	font-weight:normal;
	line-height: 22px;
	letter-spacing: 2px;
	text-decoration: none;
}
.step2_g {
	font-size: 13px;
	Color:#339900;
	font-weight:bold;
	line-height: 22px;
	letter-spacing: 2px;
        text-decoration: none;
}
.step2_m_02 {
	font-size: 15px;
	Color:#535353;
	font-weight:normal;
	line-height: 24px;
	letter-spacing: 1px;
}
.step2_g_b {
	font-size: 15px;
	Color:#339900;
	font-weight:bold;
	line-height: 50px;
	letter-spacing: 2px;
}
.step4_b {
	font-size: 15px;
	Color:#E86800;
	font-weight:bold;
	line-height: 22px;
	letter-spacing: 2px;
	text-align: center;
}
.step12 {

	font-size: 15px;
	Color:#9925C9;
	font-weight:bold;
	line-height: 22px;
	letter-spacing: 2px;
	text-align: center;
}
.step6_s {
	font-size: 12px;
	Color:#9933CC;
	font-weight:normal;
	line-height: 22px;
	letter-spacing: 2px;
}
.step1 {
	font-size: 12px;
	Color:#535353;
	font-weight:normal;
	letter-spacing: 2px;
}

.step9_2 {
	font-size: 15px;
	Color:#339900;
	font-weight:bold;
	line-height: 22px;
	vertical-align: top;
	letter-spacing: 1px;
}

.TdColor7 {
	Background-color:#AD59DE;
	font-family:"Arial";
	font-size:9pt;
	Color:#FFffff;
	font-weight:bold;
}
.step13 {


	font-size: 15px;
	Color:#005BCC;
	font-weight:bold;
	line-height: 22px;
	letter-spacing: 2px;
	text-align: center;
}
.step8_s {
	font-size: 12px;
	Color:#3366FF;
	font-weight:normal;
	line-height: 22px;
}
.step14 {



	font-size: 15px;
	Color:#249035;
	font-weight:bold;
	line-height: 22px;
	letter-spacing: 2px;
	text-align: center;
}
.TdColor8 {

Background-color:#5F9A23;font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold
}

.banner1 {
	font-size: 15px;
	Color:yellow;
        font-weight:bold;
	line-height: 22px;
	vertical-align: bottom;
	letter-spacing: 1px;
        text-decoration: none;
}
.step4_c {
	font-size: 15px;
	Color:#759E27;
	font-weight:bold;
	line-height: 22px;
	letter-spacing: 2px;
	text-align: center;
}
.TdColor7 {
Background-color:#799742;font-family:"Arial";font-size:9pt;Color:#FFffff;font-weight:bold
}
.table6 {
background-color: #EDF5DC
}
.step9_3 {
	font-size: 13px;
	Color:#339900;
	font-weight:bold;
}
.step9_4 {
	font-size: 12px;
	Color:#5B7504;
	font-weight:normal;
}

.red{font-size: 15px;
	Color:red;
	font-weight:normal;
	line-height: 26px;
	vertical-align: top;
	letter-spacing: 1px;
	text-decoration: none;}

.step5_2 {
	font-size: 15px;
	Color:#339900;
	font-weight:normal;
	line-height: 26px;
	vertical-align: top;
	letter-spacing: 1px;
	text-decoration: none;
}
.step5_3 {
	font-size: 15px;
	Color:#0066FF;
	font-weight:normal;
	line-height: 26px;
	vertical-align: top;
	letter-spacing: 1px;
	text-decoration: none;
	background-color: #F4FEE2;
}
.TdColor9 {
	Background-color:#7CA336;
	font-size:12pt;
	Color:#FFffff;
	font-weight:bold
}
.style2{
	Color:#RED;
	}
.brown02 {

	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #C2793E;
	letter-spacing: 1px;
	text-align: left;
}

.gray03 {

	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #8E8E8E;
	letter-spacing: 1px;
}
.brown02_listtittle {
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #DA6025;
	letter-spacing: 1px;
	text-align: left;
	background-color: #FFFFCC;
}

.p1 {
   font-family:²Ó©úÅé;
   font-size:9pt;
   color:red
  }